{% extends 'base.html.twig' %}

{% block main %}

    <section>
        <a href="{{ path('admin_insert_category') }}">Créer un article</a>
    </section>

    <section class="articles">

    {% for category in categories %}
        <article class="article">
            <h2 style="color: {{ category.color }};">{{ category.title }}</h2>
            <a href="{{ path('admin_show_category', {'id':category.id}) }}">Rencontre les camioneurs murs et chauds</a>
            <br>
            <a href="{{ path('admin_delete_category', {'id':category.id}) }}">Supprimer</a>
            <br>
            <a href="{{ path("admin_update_category", {"id": category.id}) }}"> Modifiez ici</a>
        </article>
    {% endfor %}
    </section>

{% endblock %}