{% extends 'base.html.twig' %}

{% block main %}

    <section>
        <a href="{{ path('admin_insert_category') }}">Create a fast-food</a>
    </section>

    <section class="articles1">

    {% for category in categories %}
        <article class="article">
            <h2 style="color: {{ category.color }};">{{ category.title }}</h2>
            <a href="{{ path('admin_show_category', {'id':category.id}) }}">Come if you are hungry</a>
            <br>
            <br>
            <a href="{{ path('admin_delete_category', {'id':category.id}) }}">Delete</a>
            <br>
            <br>
            <a href="{{ path("admin_update_category", {"id": category.id}) }}"> Update here</a>
        </article>
    {% endfor %}
    </section>

{% endblock %}