<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>Blog La Piscine</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>

<div class="container">
    <header class="header">
        <nav class="navigation">
            <button class="hamburger-menu">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </button>
            <div class="bg-cover"></div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="{{ path('home') }}" class="nav-link">home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_articles') }}" class="nav-link">Burger-Articles</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_list_categories') }}" class="nav-link">Fastfood-Categories</a>
                </li>
            </ul>
        </nav>
    </header>
</div>

{% for message in app.flashes('success') %}
    <p class="message-success">{{ message }}</p>
{% endfor %}

{% for message in app.flashes('error') %}
    <p class="message-error">{{ message }}</p>
{% endfor %}

<main>

    {% block main %}
        <img src="https://static.actu.fr/uploads/2018/11/Chrsitine-Boutin-960x640.jpg" alt="">
    {% endblock %}

</main>

<footer>
    <h3 class="foot">Devaux Maxime</h3>
</footer>

</body>

{% block script %}
    <script src="{{ asset('main.js') }}"></script>
{% endblock %}
</html>
